<!DOCTYPE html>
<html>
<head>
  <title>ApiCrud</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p></p>
<p>If you landed back here, creation failed in making user</p>

</body>
</html>
